In [1]:
from collections import abc
print(issubclass(tuple, abc.Sequence))
print(issubclass(list, abc.MutableSequence))

True
True

In [2]:
colors = ["black", "white"]
sizes = ['S', 'M', 'L']
for tshirt in (f"{c} {s}" for c in colors
                          for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

In [3]:
a = (f"{c} {s}" for c in colors
                          for s in sizes)

b = [f"{c} {s}" for c in colors
                for s in sizes]

print(type(a))
print(type(b))

<class 'generator'>
<class 'list'>

In [5]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [6]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

tf = (10, 'alpha', (1, 2))
tm = (10, 'alpha', [1, 2])
print(fixed(tf))
print(fixed(tm))

True
False

In [7]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates  # 拆包

print(divmod(20, 8))
t = (2, 4)
print(divmod(*t))

(2, 4)
(0, 2)

In [8]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [11]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def func():
    print(f'{"":30} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon <= 0:
            print(f'{name:30} | {lat:9.4f} | {lon:9.4f}')

func()

                               |  latitude | longitude
Mexico City                    |   19.4333 |  -99.1333
New York-Newark                |   40.8086 |  -74.0204
São Paulo                      |  -23.5478 |  -46.6358

In [12]:
l = [10, 20, 30, 40, 50, 60]
print(l[:2])
print(l[2:])

[10, 20]
[30, 40, 50, 60]

In [14]:
s = "bicycle"
print(s[::3])
print(s[::-1])
print(s[::-2])

bye
elcycib
eccb

In [20]:
invoice = """
    ... 0.....6.................................40........52...55........
    ... 1909 Pimoroni PiBrella $17.50 3 $52.50
    ... 1489 6mm Tactile Switch x20 $4.95 2 $9.90
    ... 1510 Panavise Jr. - PV-201 $28.00 1 $28.00
    ... 1601 PiTFT Mini Kit 320x240 $34.95 1 $34.95
    ...
"""

sku = slice(0, 6)
desctiption = slice(6, 40)
unit_price = slice(40, 52)
quantity = slice(52, 55)
item_total = slice(55, None)
line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[unit_price], item[desctiption])
    # print(item[0:10])

$52.50 . 1909 Pimoroni PiBrella $17.50 3
5 2 $9.90 . 1489 6mm Tactile Switch x20 $4.9
0 1 $28.00 . 1510 Panavise Jr. - PV-201 $28.0
95 1 $34.95 . 1601 PiTFT Mini Kit 320x240 $34.
 .

In [24]:
l = list(range(10))
print(l)

l[2:5] = [20, 30]
print(l)

del(l[5:7])

l[3::2] = [11, 22]
print(l)

l[2:5] = [100]  # 如果赋值目标是一个切片,则右边必须是一个可迭代对象,即使只有一项.
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 5, 6, 7, 8, 9]
[0, 1, 20, 11, 5, 22, 9]

In [25]:
weight_board = [['_'] * 3] * 3
print(weight_board)

weight_board[1][2] = 'O'
print(weight_board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [26]:
l = [1, 2, 3]
print(id(l))

l *= 2
print(id(l))

t = (1, 2, 3)
print(id(t))

t *= 2
print(id(t))

2564470886592
2564470886592
2564465887232
2564470051936

In [27]:
a = "hello"
print(id(a))

a += "world"
print(id(a))

2564460396912
2564470770992

In [29]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
print(sorted(fruits))

print(fruits)
print(sorted(fruits, reverse=True))
print(sorted(fruits, key=len))

['apple', 'banana', 'grape', 'raspberry']
['grape', 'raspberry', 'apple', 'banana']
['raspberry', 'grape', 'banana', 'apple']
['grape', 'apple', 'banana', 'raspberry']

In [32]:
from array import array
octets = array('B', range(10))
m1 = memoryview(octets)
print(m1.tolist())

print(type(m1.tolist()))
m2 = m1.cast('B', [2, 5])
print(m2.tolist())

m3 = m1.cast('B', [5, 2])
print(m3.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]
[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9]]